---
layout: page
title: Blog
permalink: /blog/
nav: true
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
      </h2>

      <p>{{ post.tldr }}</p>
    </li>
  {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>